{% extends "base.html" %}

{% block content %}
{% if course %}
<h1>Kurssin tiedot</h1>
<p>
    <a class="btn btn-success" href="{{base_path}}/addgrades/{{course.id}}">Arvostele suorituksia</a>
</p>
<table class="table">
    <tr><td><b>Kurssin nimi</b></td><td>{{course.nimi}}</td></tr>
    <tr><td><b>Kurssiaika</b></td><td>{{course.aloitusPvm}} - {{course.lopetusPvm}}</td></tr>
    <tr><td><b>Vastuuyksikkö</b></td><td>{{course.vastuuYksikko}}</td></tr>
    <tr><td><b>Opintopisteet</b></td><td>{{course.opintoPisteet}} op</td></tr>
    <tr><td colspan="2"><b>Opetusajat</b></td></tr>
    {% for opetusaika in kurssi.opetusajat %}
    <tr><td>{{opetusaika.viikonPaivanNimi}} {{opetusaika.formattedAloitusAika}} - {{opetusaika.formattedLopetusAika}} ({{opetusaika.huone}})</td></tr>
    {% endfor %}
    <tr><td colspan="2"><b>Harjoitusryhmät</b></td></tr>
    {% for harjoitusryhma in kurssi.harjoitusryhmat %}
    <tr><td>{{harjoitusryhma.viikonPaivanNimi}} {{harjoitusryhma.formattedAloitusAika}} - {{harjoitusryhma.formattedLopetusAika}} ({{harjoitusryhma.huone}})</td></tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="">Muokkaa kurssia</a>
{% endif %}
{% endblock %}
