{% extends "base.html" %}

{% block content %}
{% if course %}
<h1>Kurssin tiedot</h1>
{% if is_user_admin %}
<p>
    <a class="btn btn-success" href="{{base_path}}/addgrades/{{course.id}}">Arvostele suorituksia</a>
</p>
{% endif %}
<table class="table">
    <tr><td><b>Kurssin nimi</b></td><td>{{course.nimi}}</td></tr>
    <tr><td><b>Kurssiaika</b></td><td>{{course.formattedAloitusPvm}} - {{course.formattedLopetusPvm}}</td></tr>
    <tr><td><b>Vastuuyksikkö</b></td><td>{{course.vastuuYksikko}}</td></tr>
    <tr><td><b>Opintopisteet</b></td><td>{{course.opintoPisteet}} op</td></tr>
    <tr><td colspan="2"><b>Opetusajat</b></td></tr>
    {% if opetusajat %}
    {% for opetusaika in opetusajat %}
    <tr><td colspan="2" style="font-weight: normal;">{{opetusaika.viikonPaivanNimi}} {{opetusaika.formattedAloitusAika}} - {{opetusaika.formattedLopetusAika}} ({{opetusaika.huone}})</td></tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="2" style="font-weight: normal;">Ei opetusaikoja.</td></tr>
    {% endif %}
    <tr><td colspan="2"><b>Harjoitusryhmät</b></td></tr>
    {% if harjoitusryhmat %}
    {% for harjoitusryhma in harjoitusryhmat %}
    <tr><td colspan="2" style="font-weight: normal;">{{harjoitusryhma.viikonPaivanNimi}} {{harjoitusryhma.formattedAloitusAika}} - {{harjoitusryhma.formattedLopetusAika}} ({{harjoitusryhma.huone}})</td></tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="2" style="font-weight: normal;">Ei harjoitusryhmiä.</td></tr>
    {% endif %}
</table>
{% if is_user_admin %}
<a class="btn btn-primary" href="">Muokkaa kurssia</a>
{% endif %}
{% endif %}
{% endblock %}
