{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Hae kursseja</h1>
</div>
{% if user_logged_in.tyyppi == 1 %}
<a class="btn btn-success" href="{{base_path}}/addcourse">Lisää kurssi</a><br/><br/>
{% endif %}
<form action="{{base_path}}/courses" method="POST">
    <div class="form-group">
        <input class="form-control" name="hakusana" id="searchInput" placeholder="Kirjoittamalla *.* näkyvät kaikki kurssit. Kirjoita hakusana.." autocomplete="off" type="text">
    </div>
    <noscript>
    <div class="form-group">
        <button id="submitBtn" type="submit" class="btn btn-primary">Hae</button>
    </div>
    </noscript>
</form>
<span id="loading" style="display: none;">Ladataan..</span>
<table id="results_table" class="table" style="display: none;">
    <thead><tr><td>Kurssin nimi</td><td>Vastuuyksikkö</td><td>Järjestämisaika</td><td>Opintopisteet</td></tr></thead>
    <tbody id="results"></tbody>
</table>
<noscript>
{% if searchTerm %}
<h2>Hakutulokset hakusanalle '{{searchTerm}}'</h2>
{% endif %}
{% if courses %}
<table class="table">
    <thead>
        <tr><td>Kurssin nimi</td><td>Vastuuyksikkö</td><td>Järjestämisaika</td><td>Opintopisteet</td></tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr><td><a href="{{base_path}}/course/{{course.id}}">{{course.nimi}}</a></td><td>{{course.vastuuYksikko}}</td><td>{{course.formattedAloitusPvm}} - {{course.formattedLopetusPvm}}</td><td>{{course.opintoPisteet}} op</td></tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<b>Ei kursseja.</b>
{% endif %}
</noscript>
{% endblock %}
