{% extends "base.html" %}

{% block content %}
<!-- Dynaaminen sisältö tulee tähän -->
<div class="page-header">
    <h1>Muokkaa kurssia</h1>
</div>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form action="{{base_path}}/addcourse" method="POST">
    <div class="form-group">
        <label>Vastuuyksikkö</label>
        <select class="form-control" name="vastuuyksikkoSelect">
            <option value="-1">(Valitse)</option>
            {% for vastuuyksikko in vastuuyksikot %}
            <option value="{{vastuuyksikko.id}}" {% if vastuuyksikko.id == course.vastuuyksikkoId %} selected {% endif %}>{{vastuuyksikko.nimi}}</option>
            {% endfor %}
        </select> 
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" placeholder="Nimi" type="text" value="{{course.nimi}}" name="nimi">
    </div>
    <div class="form-group">
        <label>Alkamispäiväys (pp.kk.vvvv)</label>
        <input class="form-control" type="date" name="startingDate" value="{{course.formAloitusPvm}}">
    </div>
    <div class="form-group">
        <label>Loppumispäiväys (pp.kk.vvvv)</label>
        <input class="form-control" type="date" name="endingDate" value="{{course.formLopetusPvm}}">
    </div>
    <div class="form-group">
        <label>Saatavat opintopisteet</label>
        <input class="form-control" value="5" type="number" min="0" max="150" name="op" value="{{course.nopat}}">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="arvosteluTyyppi" {% if selected %} selected {% endif %}>
                   Kurssin arvosteluna hyväksytty/hylätty
        </label>
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name="kuvaus" value="{{course.kuvaus}}">Kurssikuvaus</textarea>
    </div>
    <div class="form-group">
        <hr/>
        <label><small>Paina "Lisää uusi opetusaika"-nappia lisätäksesi kurssille opetusaikoja.</small></label><br/>
        <div id="opetusajat">
            <div class="opetusaika" id="opAika" style="display: none;">
                <div>
                    <label>Huone</label>
                    <input name="opetusaikaHuone[]" class="form-control" placeholder="A123"/>
                </div>
                <div>
                    <label>Aloitusaika</label>
                    <select name="opetusaikaAloitusaika[]" class="form-control">
                        {% for aika in ajat %}
                        <option value='{{aika.id}}'>{{aika.arvo}}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div>
                    <label>Kesto (tuntia)</label>
                    <input name="opetusaikaKesto[]" class="form-control" value="2" type="number" min="1" max="3">
                </div>
                <div>
                    <label>Viikonpäivä</label>
                    <select name="opetusaikaViikonpaiva[]" class="form-control">
                        <option value="0" selected>Ma</option>
                        <option value="1">Ti</option>
                        <option value="2">Ke</option>
                        <option value="3">To</option>
                        <option value="4">Pe</option>
                    </select> 
                </div>
            </div>
        </div>

        <input class="btn btn-primary" type="button" value="Lisää uusi opetusaika" onClick="luoOpetusAikaKentta()">
    </div>
    <div class="form-group">
        <hr/>
        <label><small>Paina "Lisää uusi harjoitusryhmä"-nappia lisätäksesi kurssille harjoitusryhmiä.</small></label><br/>
        <div id="harjoitusryhmat">
            <div class="harjoitusryhma" id="harjRyhma" style="display: none;">
                <div>
                    <label>Huone</label>
                    <input name="harjoitusryhmaHuone[]" class="form-control" placeholder="A123"/>
                </div>
                <div>
                    <label>Aloitusaika</label>
                    <select name="harjoitusryhmaAloitusaika[]" class="form-control">
                        {% for aika in ajat %}
                        <option value='{{aika.id}}'>{{aika.arvo}}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div>
                    <label>Kesto (tuntia)</label>
                    <input name="harjoitusryhmaKesto[]" class="form-control" value="2" type="number" min="1" max="3">
                </div>
                <div>
                    <label>Viikonpäivä</label>
                    <select name="harjoitusryhmaViikonpaiva[]" class="form-control">
                        <option value="0" selected>Ma</option>
                        <option value="1">Ti</option>
                        <option value="2">Ke</option>
                        <option value="3">To</option>
                        <option value="4">Pe</option>
                    </select> 
                </div>
            </div>
        </div>
        <br/>
        <input class="btn btn-primary" type="button" value="Lisää uusi harjoitusryhmä" onClick="luoHarjoitusRyhmaKentta()">
    </div>
    <div class="form-group">
        <hr/>
        <button type="submit" class="btn btn-primary">Luo kurssi</button>
    </div>
</form>
{% endblock %}
