{% extends "base.html" %}

{% block content %}
<h1>Muokkaa vastuuyksikköä</h1>
<a href="{{base_path}}/listfacultys" class="btn btn-primary">Takaisin</a><br/><br/><br/>
<form action="{{base_path}}/editfaculty/{{faculty.id}}" method="POST">
    <table class="table">
        <tr><td><b>Nimi</b></td><td><input type="text" name="faculty" value="{{faculty.nimi}}" size="50" placeholder="Vastuuyksikkö"/></td></tr>
        <tr><td colspan="2"><button type="submit" class="btn btn-success">Tallenna</button></td></tr>
    </table>
</form>
{{forms.destroy_button("#{base_path}/deletefaculty/#{id}", "Poista", "Haluatko varmasti poistaa vastuuyksikön?")}}
{% endblock%}
