{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Suoritukset</h1>
</div>
{% if grades %}
{% for faculty in facultys %}
<table class="table table-striped">
    <!--Faculty title-->
    <thead>
        <tr class="facultyTitle">
            <td colspan="5">{{faculty.nimi}}</td>
        </tr>
        <tr class="italic bold">
            <td>Kurssin nimi</td>
            <td class="center">op</td>
            <td class="center">Arvosana</td>
            <td class="center">Suorituspäivä</td>
        </tr>
    </thead>
    <!--Courses-->
    <tbody>

        {% for grade in grades %}
        {% if grade.kurssi.vastuuYksikkoId == faculty.id %}
        <!---->
        <tr>
            <td>{{grade.kurssi.nimi}}</td>
            <td class="center">{{grade.kurssi.opintoPisteet}}</td>
            <td class="center"><span class="{% if grade.arvosana == 0%}failed{% else %}passed{% endif %}">{% if grade.arvosana == 0%}Hylätty{% else %}{% if grade.arvosana == 6 %}Hyväksytty{% else %}{{grade.arvosana}}{% endif %}{% endif %}</span></td>
            <td class="center">{{grade.formattedTimestamp}}</td>
        </tr>
        <!---->
        {% endif %}
        {% endfor %}



    </tbody>
</table>
{% endfor %}
{% else %}
<tr>
    <td colspan="4">Ei suorituksia.</td>
</tr>
{% endif %}

<hr/>
Suorituksia yhteensä: {{user_logged_in.totalNopat}} op<br/>
Keskimääräinen hyväksytyn suorituksen arvosana: {{user_logged_in.averageGrade}}<br/>
Hylättyjä suorituksia: {{user_logged_in.failedCourses}}<br/>
{% endblock %}
