{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>Käyttäjät</h1>
<a class="btn btn-success" href="{{base_path}}/adduser">Lisää käyttäjä</a><br/><br/>
<table class="table">
    <tr><td>Käyttäjätunnus</td><td>Rooli</td><td></td></tr>
    {% for kayttaja in kayttajat %}
    <tr><td>{{kayttaja.nimi}}</td><td>{% if kayttaja.tyyppi %}Pääkäyttäjä{% else %}Peruskäyttäjä{% endif %}</td><td>{{forms.destroy_button("#{base_path}/deleteuser/#{kayttaja.id}", "Poista", "Haluatko varmasti poistaa käyttäjän?")}}{{forms.edituser("#{kayttaja.id}")}}</td></tr>
    {% endfor %}
</table>
{% endblock %}
