{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Ilmoittautumiset</h1>  
</div>
<small>Klikkaamalla kurssin nimeä näet kurssin lisätiedot. Ilmoittautuminen perutaan painamalla "Peru ilmoittautuminen"-nappia.</small>
<table class="table">
    <thead>
        <tr><td>Nimi</td><td>Kesto</td><td></td></tr>
    </thead>
    <tbody>
        {% if registrations %}
        {% for registration in registrations %}
        <tr><td><a href="{{base_path}}/course/{{registration.kurssi.id}}">{{registration.kurssi.nimi}}</a></td><td>{{registration.kurssi.formattedAloitusPvm}} - {{registration.kurssi.formattedLopetusPvm}}</td><td><form action="{{base_path}}/cancelregistration" class="cancelregistration" data-confirm="Perutaanko kurssi-ilmoittautuminen?" method="POST">
                    <input type="hidden" name="courseId" value="{{registration.kurssi.id}}"/><button type="submit" class="btn btn-danger">Peru ilmoittautuminen</button></form></td></tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="3">Ei ilmoittautumisia.</td></tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
